[2013-10-23 09:26] PedroTroller opened #15 "Remove swiftmailer context and profilers. Need new approch."

[2014-02-14 13:52] #15 closed, assigned to nobody

[2014-02-14 14:17] tentacode opened #36 "Small fixes for more English friendly syntax"
Hello, there might be some small improvements for readability, here are some suggestions (only based on the docs so there might be more.) :
### Entity :

`And there is 200 products like following` to `And there is 200 products like`
`And 1 user should be created` to `And 1 user should have been created`
`And 1 user should be deleted` to `And 1 user should have been deleted`
### Table :

`And I sho

[2014-02-14 16:30] #36 closed, assigned to tentacode

[2014-02-20 23:12] cryptiklemur opened #45 "Update Mink Extension Dependency"

[2014-02-20 23:22] #45 closed, assigned to nobody

[2014-02-21 13:08] PedroTroller opened #50 "test"

[2014-02-21 13:08] #50 closed, assigned to nobody

[2014-03-07 12:43] PedroTroller opened #57 "Test"

[2014-03-07 12:44] #57 closed, assigned to nobody

[2014-03-07 12:47] PedroTroller opened #58 "Test"
### The TEST

[code]

[2014-03-07 12:48] #58 closed, assigned to nobody

[2014-04-07 15:12] PedroTroller opened #64 ""mink.base_url" are always required"
When I use FriendlyContexts without using Mink on ApiContext, I've got this message.

[code]

[2014-04-08 08:32] tentacode opened #65 "Cannot use Alice options"
Imagine I have a `LoadAlice.php` in my project, with these options :

[code]

As the `LoadAlice.php` is not called, I cannot use my custom providers for example, not sure if seeding works either way.

Maybe just defining a `options` sub config to alice in `behat.yml` would be enough.

[2014-04-18 13:21] #64 closed, assigned to Djeg

[2014-06-20 21:27] drymek opened #83 "Container Issue"
After installation from composer (both: dev-master and v0.5.2) I've got:

[code]

Looks like

[code]

is never called.
behat version 3.0.8, ApiContext.

[2014-07-08 06:13] #83 closed, assigned to nobody

[2014-07-19 11:36] #65 closed, assigned to nobody

[2014-07-21 07:50] PedroTroller opened #90 "Register alice entities with the Alice ID (ex: @user_admin)"

[2014-10-09 13:17] rcwsr opened #107 "Differentiate entities using FQN"
I've run into an issue when trying to load users with `Given the following users:`, since I'm extending `FOS\UserBundle\Model\User`:

`Failed to find a unique model from the name "users", "Acme\AcmeBundle\Entity\User" and "FOS\UserBundle\Model\User" found`

It would be nice to be able to use `Given the following AcmeAcmeBundle:User:`

[2014-10-22 08:16] #107 closed, assigned to nobody

[2014-10-22 09:11] rcwsr opened #108 "Null values can't be used with EntityContext and many to many property"
| referenced_users |
| --- |
| [] |
| [RobClarke] |
| [RobClarke, PeterSagan] |
| [] |

EntityContext tries to perform `addReferencedUser()` on null values, resulting in an exception being thrown.

[2014-10-22 09:33] #108 closed, assigned to nobody

[2014-10-23 08:05] LewisW opened #110 "Contexts have a separate kernel"
It looks like in Entity::getKernel you boot a new kernel each time it's called. What's the reason for doing this?

The reason I ask is because in our test environment, Doctrine runs in SQLite in memory. Because each context creates a separate kernel, it creates a separate doctrine connection which means a whole new SQLite database. Also since it's having to create a new kernel, container and doctr

[2014-10-23 15:59] #110 closed, assigned to nobody

[2014-12-17 10:37] victuxbb opened #115 "response should contains the following headers"
Hi!
I'm trying to use the following sentence for analize the headers in a response:

Then the response should contains the following headers:
              | content-type    | application/force-download |
              | Content-Disposition | attachment; filename="export.csv" |
And I give an error:
"Catchable Fatal Error: Argument 2 passed to Knp\FriendlyContexts\Utils\Asserter::assertArrayContain

[2015-01-09 10:38] adlpz opened #116 "Strange behaviour: I shoud see a table with X in the Y column"
Hi, people,

I was using the TableContext and tried to use the "I shoud see a table with X in the Y column", but it seems to work in an (for me!) unexpected way. When I read that a table has "Thing 1, Thing 2 and Thing 3" in the "Whatever" column, I imagine:

... | Whatever | ...
--- | ------------ | -------------
... | Thing 1 | ...
... | Thing 2 | ...
... |Thing 3 | ...

That is, in the column l

[2015-02-05 17:40] sethcohn opened #119 "smartStep isn't found unless also tagged"
If you invoke behat with --tags=tagyouwantrun, and the Scenario tagged with @tagyouwanttorun calls a @smartStep scenario as a step, it won't work unless the scenario is also tagged with @tagyouwanttorun.  It will fail and claim it's an undefined step.

[2015-02-10 09:31] Soullivaneuh commented on #90
Could be very useful, any plan to integrate it?

Thanks.

[2015-02-12 10:14] PedroTroller commented on #119
Of course, it's a tag like others. If you want's to use tag filters and smartstep in a same time.... Don't use smartstep. Or add smartStep to your filter.

[2015-02-19 16:08] NiR- opened #123 ""fillTheNthField" only supports text input"
Actually the step `I fill in the Nth "aze" field with "test"` only supports text input. HTML5 input types are not supported.

[2015-02-19 16:58] #123 closed

[2015-03-16 11:44] #119 closed

[2015-03-18 11:04] rolebi opened #133 "Error when faking decimal values"
An error occured when using `EntityContext::theFollowing()`. `DecimalGuesser::fake()` fail not having fakers.

[2015-04-13 14:24] Nek- opened #143 "Docblocks for IDEs"
Hello,

I know you dislike that, but it would be very useful for many people. I can handle it but I want you to tell me what you think about before doing anything.

See ya!

[2015-04-29 08:51] PedroTroller commented on #133
Fixed

[2015-04-29 08:51] #133 closed

[2015-05-29 12:33] #116 closed

[2015-06-09 14:20] riskawarrior opened #152 "Deprecated Symfony 2.7 factory"
Symfony 2.6 introduced a new way to use factories:
http://symfony.com/doc/current/components/dependency_injection/factories.html

The problem is that the old way (<2.6) generates a lot of deprecated messages with Symfony 2.7 which makes impossible the testing in dev mode.

Affected service:
    friendly.faker:
        class: Faker\Generator
        factory_class: Faker\Factory
        factory_meth

[2015-06-10 10:30] shopfe commented on #152
This solve the factory deps

[2015-06-17 10:42] riskawarrior commented on #152
I messed up the first pull request, this should work. :)

[2015-06-17 13:24] akovalyov commented on #152
And what about Symfony <2.6 ? It does not have ```setFactory``` method. You can check it in https://github.com/symfony/DependencyInjection/blob/2.5/Definition.php.
I think, the best solution to keep BC is to handle it via DependencyInjection Compilers.
@PedroTroller what do you think?

[2015-06-17 14:54] PedroTroller commented on #152
@akovalyov Or maybe via a bidge class ?

[2015-06-29 12:40] riskawarrior commented on #152
It's tough. I took a look at other projects and they used this format (xml):

From this one

    <service id="sonata.admin.entity_manager" factory-service="doctrine" factory-method="getEntityManager" class="Doctrine\ORM\EntityManager" public="false">

To this one:

    <service id="sonata.admin.entity_manager" class="Doctrine\ORM\EntityManager" public="false">
        <factory service="doctrine" m

[2015-07-07 11:35] #152 closed

[2015-07-16 13:39] umpirsky opened #154 "Undefined smart step when executing single scenario"
When executing single scenario like:

[code]

If "My scenario" depends on smart step defined above it, it will fail with undefined step. It works when entire feature file is run.

Is this known issue?

[2015-07-16 15:35] umpirsky opened #155 "Hard to debug when link not found"
When link is not found with `Behat\MinkExtension\Context\MinkContext`:

[code]

Which triggers `show_cmd`.

When link is not found with `Knp\FriendlyContexts\Context\MinkContext`:
[code]

Which does not trigger `show_cmd`.

The solution is to throw `ElementNotFoundException` in such case.

[2015-08-13 22:12] javierseixas opened #159 "Testing APIs with Behat and FriendlyContext"
Hi everybody,
I open this issue because I'm not clear on the way that FriendlyContext works for testing data in DB using EntityContext. Before explaining why I'm thinking such a thing, I want to say that I've used FriendlyContext for testing REST APIs and its DBs, and I like it a lot, even I made a bit contribution.

Well, the point is that when I test, for example, a `POST` request which inserts

[2015-08-17 08:32] PedroTroller commented on #159
Hi @javierseixas, and thanks.

In fact the good way to do it is not to test if your resource is really persisted into your database, it's a lazy solution (because I am lazy :smile:).
I think the good way to do it is :
 - to test if your application says that the resource is created (201)
 - to test if your new resource is available, by testing the Content-Location of your 200 and/or by testing tha

[2015-08-17 11:54] javierseixas commented on #159
Thanks for your reply @PedroTroller
You are right, I could check a success creation by doing a new request to the resource. The problem of doing this is that, I would be using another functionality (a `GET` request) to test the funcionality I am focus on, a `POST`, so an error in the `GET` would throw an error in the `POST`. Should not we avoid this?
Another drawback I've faced by doing this, is t

[2015-08-21 09:41] javaguirre opened #163 "Call to a member function fake() on a non-object in IntGuesser (v0.5.11)"
We have an error in IntGuesser with this data in the new 0.5.11 version, in 0.5.10 works fine though.

[code]

trace:

[code]

Thank you!

[2015-08-21 11:50] teohhanhui opened #164 "Debugging exception thrown when executing SmartStep"
There should probably be a debug/verbose output so that we can see what's going on inside a SmartStep (don't swallow all the output from `echo`)

[2015-08-30 21:17] Einenlum commented on #155
Issue solved, right?

[2015-08-31 08:03] umpirsky commented on #155
@Einenlum Partly, there are other places with same issue.

[2015-09-24 08:14] jamesyo opened #168 "FriendlyContext existLikeFollowing bug"
Hi Everybody!

I'm not sure if this is a bug. Regarding the friendlyContext EntityContext `existLikeFollowing` (line 152).

The function doesn't seem to be matching on the keys I want it to map on! It seems to be matching on `id`, regardless of what key I supply.

It seems that the function is only matching entities by the doctrine identifiers, where the examples seem to suggest entities will be m

[2015-10-08 15:27] yakobe opened #171 "It is possible to seed the faker to ensure the generated data is always the same"
I am using the entity context to create data. For fields that are not specified manually it generates fake data. However, this changes every time so the tests might break randomly. After reading the docs i cannot see a way to set the seed to keep generation constant. Is there a way?

[2015-10-15 15:16] smarques commented on #168
same exact problem here

[2015-10-23 09:06] PedroTroller commented on #171
If you need the same data to run your tests, then you can't use to use the faker feature. If your data are important for your tests, please write them directly, don't let faker generate it for you.

[2015-10-26 09:54] yakobe commented on #171
Its not that we always need the same data, and it would help to ba able to set the seed anyway.
Ps: any ideas how to make certain data fake with certain rules? Eg if a field is text but has to be a minimum of 2 chars due to symfony validation. I really dont care about what these chars are for my current test. So i just want alice to throw in some data. Without a seed we get random break where this

[2015-11-05 13:54] PedroTroller commented on #171
The entity context don't use Alice, BUT you can use alice instead of the entity context.
https://github.com/KnpLabs/FriendlyContexts/blob/master/doc/context-alice.md

[2015-11-05 14:04] yakobe commented on #171
The entity context seems to use faker... that's why i was wondering if it was possible to set the seed (https://github.com/fzaninotto/Faker#seeding-the-generator)

[2015-11-06 10:51] drgomesp opened #176 "Redirect services"
Is it possible to redirect services such as this one:

[code]

[2015-12-22 09:22] vincentchalamon opened #179 "Symfony2 session // Compatibility with Behat/Symfony2Extension"
Hi,

I just discovered this bundle and start to refactor my Behat tests using this one (specially for its fixtures creation, very useful !). But I've just been blocked to a limit: how can I use Symfony2 session (instead of `goutte` for example) in Behat configuration ?

One solution should be to use `Behat\MinkExtension` with `Behat\Symfony2Extension` as following:
[code]

But the problem is that

[2015-12-22 09:42] dunglas commented on #179
It should be possible to add a soft dependency to Symfony2Extension:

[code]

[2015-12-22 09:48] dunglas commented on #179
[code]

[2015-12-22 09:55] vincentchalamon commented on #179
Maybe better on `KernelPass` class:
[code]

[2016-01-12 08:10] arno-h opened #183 "Smartsteps swallow errors"
When a step inside a `@smartstep` fails then this error is swallowed and not shown. The reason is that in Knp\FriendlyContexts\Reader\SmartReader::readEnvironmentCallees() the function executes steps and discards the result:

[code]

A possible fix is something like this:

[code]

Swallowing the error can lead to really difficult to debug problems or (even worse) green tests when they should be re

[2016-01-12 08:15] arno-h commented on #183
Closing: I see that it is fixed in current version already. Apparently I've been using a old version.

[2016-01-12 08:15] #183 closed

[2016-01-13 16:09] vincentchalamon opened #185 "Cannot find created object from TableNode"
[According to documentation](https://github.com/KnpLabs/FriendlyContexts/blob/master/doc/context-entity.md), it should be possible to retrieve saved object from database:

[code]

But using this step, it just says it cannot retrieve user by identifiers 'firstName'. EntityContext::existLikeFollowing method only checks by `id`, not by specified criteria (`firstName`, `lastName`).

Actual code is lik

[2016-01-24 20:49] Nek- opened #189 "getClient and setClient on RequestBuilder does nothing"
Hello,

This too methods (getClient and setClient) does nothing, and it's not an abstract class...

In my case it's a problem because I need to retrieve the client. It can also be a problem if you want to use another client.. which is complicated, i agree.

On this last point you should consider to use http://httplug.io/ !

[2016-01-24 21:23] Nek- commented on #189
My bad didn't see this class is never used.

The notice on httplug is still valid anyway.

[2016-01-24 21:23] #189 closed

[2016-03-24 14:09] Nek- opened #192 "Redefining clickLink in MinkContext is a regression"
Hello,

You redefined clickLink in the MinkContext, I don't really know why... But this is a huge regression as the method from the mink extension also allows to match titles (which is clever when the link is a ckeck mark or just empty with CSS).

I suggess to simply remove this method from friendlycontext. What do you think about ?

[2016-04-08 13:52] Nek- opened #195 "Reset schema is **slow**"
Hello,

After experience on some projects, it looks like resetting schema is very very slow with FriendlyContexts. Is there any good reason to not use the ORMPurger of Doctrine ? (which is far faster, especially in truncate mode)

Concerned lines: https://github.com/KnpLabs/FriendlyContexts/blob/master/src%2FKnp%2FFriendlyContexts%2FContext%2FEntityContext.php#L196

I can do a PR if you're ok.

[2016-04-08 20:53] vincentchalamon commented on #195
Hi @Nek-, have you ever tried your solution (using ORMPurger in `@reset-schema` tag) and what is the new performances? I'm also interested about this question

[2016-04-13 06:17] Einenlum commented on #195
Oh, I didn't know ORMPurger. Looks nice.
I would be interested in a benchmark too :). Must try.

[2016-04-13 06:19] vincentchalamon commented on #195
@Nek- Can you please open a PR?

[2016-04-14 23:29] Nek- commented on #195
I tried a quick benchmark with my projects but each time it's: the project is so slow so the difference is not obvious or the project is so fast and so little so the difference does not really matters :').

Well, in the first case (project A) in a test of 1min (with excessive page load etc) I have a gain of 4 s (which is not that much for 1min test).

In the second case (project B) full suite test

[2016-04-15 06:08] vincentchalamon commented on #195
@Nek- I also integrate your solution in my project. We have hundreds of functional tests, which took 45mn (yeah yeah, minutes!!!) to run. Using your solution reduce this time to 30mn! (I guess it can be more representative as an example :wink:)

The only thing to notice with this solution, is to build schema before running all tests. Otherwise tests will fail. But I would be happy to contribute to

[2016-04-15 09:40] Einenlum commented on #195
Nice!

[2016-05-27 10:36] spolischook opened #198 "Replace Alice fixtures dependencies to import in yml files"
It will decrease configuration complexity and move responsibility of fixture dependencies in one place - yml fixtures itself

[code]

[2016-05-30 16:07] spolischook commented on #198
I'll aswer to my own question.
Handling dependencies in alice fixtures as discribed here https://github.com/nelmio/alice/blob/2.x/doc/fixtures-refactoring.md#including-files is meaningless with Including files alice feature. More about it https://github.com/nelmio/alice/blob/2.x/doc/fixtures-refactoring.md#including-files

[2016-05-30 16:09] spolischook commented on #198
Please close this issue if you not need it.

[2016-06-20 09:31] Soullivaneuh opened #199 "Can't see an existing table portion"
With the following feature:

[code]

I got the following error:

[code]

But according to the first given array, the row should be found. Am I right?

Note: The array also have a "Date" column that I don't want to test on the portion. Maybe the issue is because of this.

[2016-06-20 15:15] Soullivaneuh commented on #199
I found why: The value is not the first row.

Is that expected?

[2016-07-15 14:14] mkruk-u2 opened #200 "IntGuesser and DecimalGuesser generate values that are out of range"
The `IntGuesser` and `DecimalGuesser` classes don't use field requirements while generating ("guessing") a value although all constraints are provided in `$mapping` parameter ([here](https://github.com/KnpLabs/FriendlyContexts/blob/master/src/Knp/FriendlyContexts/Guesser/IntGuesser.php#L19) and [here](https://github.com/KnpLabs/FriendlyContexts/blob/master/src/Knp/FriendlyContexts/Guesser/DecimalG

[2016-08-05 08:12] #179 closed

[2016-09-02 10:05] Charlie-Lucas opened #204 "Create custom alias when generating entities"
I'm trying to generate multiple entities in my test and defining relations between them with the entity Context:
[code]
To make the relation between User and Location I can do this :
[code]
But the country field is not unique and i cant choose a specific entity when generating the relation.
I am trying to do something like in Alice :
[code]
Am I missing something or i can propose a pull request fo

[2016-10-17 12:48] ecornelisse opened #208 "The package "guzzle/guzzle" is abandoned and should be replaced with "guzzlehttp/guzzle""
As the titles says, guzzle/guzzle is abandoned and should be replaced with guzzlehttp/guzzle

[2016-10-31 23:01] alexislefebvre opened #209 "Broken link on "Mink Context" page"
See the current version: https://github.com/KnpLabs/FriendlyContexts/blob/6b679e3832d73991ef4873368fe098a5353844bd/doc/context-mink.md

The *Behat Mink Extension* link leads to http://extensions.behat.org/mink/ but the website does not respond.

[2016-10-31 23:03] alexislefebvre commented on #209
On http://behat.org/en/latest/ the link to *Extensions* leads to https://github.com/search?o=desc&q=behat+extension+in%3Aname%2Cdescription+language%3APHP&ref=searchresults&s=stars&type=Repositories&utf8=%E2%9C%93 which show repositories. So the link should probably be https://github.com/Behat/MinkExtension

[2016-11-02 13:15] #209 closed

[2016-12-16 09:43] symfou opened #215 "Print URL after prepare request in API context"
How can I print URL after prepare request in API context.

some thing like:  @Then /^I print last URL requested$/

[2016-12-28 19:46] igorcemim commented on #199
I have the same problem.
Anyone find a solution?

Is this behavior right?!

[2017-01-04 10:13] alcalyn opened #219 "Missing an `addHeaders` in RequestBuilder, and "specified headers" override existing headers"
When I use:

[code]

I expect that all headers are set in request.
Actually, the first headers are overriden by the last, then I lost my Authorization header.

I know that I can specify all headers in one table.

But another fact is that if I create a custom phrase, like `Given I am authenticated as user`, which adds an authorization header, it is impossible to specify another headers like:

[code

[2017-01-04 15:03] alcalyn commented on #115
still experiencing the issue

[2017-01-04 16:00] alcalyn commented on #115
Finally I overriden the method by the one in PR, and it works

[2017-01-10 14:54] taqiofficial opened #221 "Unable to parse JSON data: JSON_ERROR_SYNTAX"
I am using BDD tests with FriendlyContexts for my symfony project and got this error, `Unable to parse JSON data: JSON_ERROR_SYNTAX - Syntax error, malformed JSON (InvalidArgumentException)`, I validat the json with http://jsonlint.com/, and it valid. But again when i run it, give the same error.

[code]

Any Hint Why these ?

[2017-01-10 17:39] Einenlum commented on #221
Is the first json code or the second one which crashes?

[2017-01-10 17:56] taqiofficial commented on #221
@Einenlum 2nd one.

[2017-01-10 18:37] taqiofficial commented on #221
It only appears at some scenarios only, not all. I had compare all those with who are working fine, 100% are same. Can't find anything that causes the Json error.

[2017-01-11 07:28] taqiofficial commented on #221
Ok, I got the what's the issue, there was a var_dumper inside code.
But Strange, Normal API response doesn't effect from it, but Gerkin/BDD Context does.

[2017-01-11 07:28] #221 closed

[2017-01-20 16:40] Soullivaneuh opened #222 "EntityContext: Manage multiple connections"
According to [this part of code](https://github.com/KnpLabs/FriendlyContexts/blob/232625f11290c3ce0355860fc539d09f623d9da9/src/Knp/FriendlyContexts/Context/EntityContext.php#L38), it seems you always call the default entity manager for this context.

It would be great to be able to specify which connection to use when we have multiple ones, like this:

[code]

[2017-03-07 22:49] #163 closed

[2017-03-08 17:03] yakobe opened #225 "Smart Step feature seems to have major performance problems"
When there are a large number of features / scenarios the following function can cause huge numbers of calls leading to major performance problems.

Unfortunately it is not possible to disable the smart step feature to prevent these problems. At the moment we have a fork where we remove the `environment.reader` service tag on `friendly.reader.smart_reader` in `core.yml` to stop the `SmartReader` f

[2017-03-13 23:44] Pierstoval commented on #208
Any news on this?

[2017-03-14 11:05] Nek- commented on #208
@Pierstoval I'm going to work on it soon. Maybe an implementation of httplug.io ?... Let's see what's possible.

[2017-03-15 22:32] Nek- commented on #225
Hello. Can you be more explicit about what performance problem you have? I never experiment performance outage without using the smart step feature. (that I don't recommend to use precisely because of performance outage)

[2017-03-17 08:05] yakobe commented on #225
Hi Nek,
We were puzzled why our complete behats on a large project were taking over 4 hours to run. After using blackfire to profile the problem we discovered that registering the`friendly.reader.smart_reader` triggers code to be fired after all the time while it looks through the scenarios (even if you are not using smart steps anywhere in the code). It seems this lookup is not cached either so i

[2017-03-17 08:08] yakobe commented on #225
PS: we were a bit unsure if the repo was actually maintained anymore as there does not seem to be much activity and we have offered a couple of PR's that never got a response. Should we continue or is this repo semi-abandoned? We would be happy to contribute, but otherwise we would just maintain our own fork.

[2017-03-17 09:07] Nek- commented on #225
I'll take a look at the issue. Thanks for reporting and also thanks for the fix. (is it also MIT ?)

About the PS... Until now yes it was semi-abandoned, but I was promoted maintainer, I'll try to make the project move in the right direction :) .

[2017-03-17 09:08] Nek- commented on #222
That would be great. Indeed.

[2017-03-17 14:58] yakobe commented on #225
Just so you know, our solution is not a fix. It just disables smart steps it on our fork 😄 . We dont use them anyway. I guess it would be better if the features were disabled by default and you can opt in.

Great new that there is a maintainer again. We will try to provide more help again in the future.

[2017-03-27 07:43] Einenlum commented on #143
@Nek-  I personally don't see any problem adding some dockblocks :)

[2017-03-27 14:29] Nek- commented on #143
@Einenlum I was about to send a PR for this. :)

I'll also add the docblocks conventions to the `CONTRIBUTING.md` (to avoid any future frustration for a contributor).

[2017-03-27 15:52] Einenlum commented on #143
:+1:

[2017-03-27 17:31] Nek- opened #226 "[RFC] [EntityContext] JSON for arrays"
Hi,

Currently to specify an array we need to write it this way:
[code]

This is a problem mainly because it doesn't support multi-dimensions. I suggest to also support JSON so we'll be able to write array this way in build in fixtures:
[code]

[2017-03-27 18:03] Nek- opened #227 "[RFC] Disable features by default"
Hello,

I think we should consider to add a configuration "by feature" and enable (or not) features with this configuration. (just like it's done in the FrameworkBundle of Symfony !)

This would fix #225.

I already start to work on the topic. Stop me if you think it's a wrong idea :) .

[2017-03-27 21:58] #159 closed

[2017-03-28 07:28] teohhanhui commented on #164
@Einenlum What changed?

[2017-03-28 08:08] Nek- commented on #164
I'm not sure to get what you mean @teohhanhui.

This is an RFC to have a better support of exceptions that happen inside a SmartStep?

[2017-03-28 08:10] Einenlum commented on #227
:+1:

[2017-03-28 08:25] Einenlum commented on #164
Actually I closed it but I should have asked @Nek- since he's the main maintainer of this repo now.

I closed it cause it looks like an RFC without concrete proposition, and I'm not sure it's really needed, especially since smartStep seems like a feature that should be deprecated to me.

[2017-03-28 08:30] Nek- commented on #164
Legit.

(and it's ok if you close issues, you're collaborator too 😮  )

[2017-03-28 11:15] teohhanhui commented on #164
Yeah, because SmartStep is almost completely silent. It swallows everything.

[2017-03-28 12:57] Nek- commented on #164
Can you please reformat the issue so we don't get lost anymore? :)

We're going to investigate this. It's not really a bug but I get it's a problem (but for now there is some emergency like "omg we're not compatible with Symfony 3").

[2017-03-29 06:44] teohhanhui commented on #164
It's not really an issue for me at the moment, so I'm just gonna leave this as is for now.

[2017-04-05 23:13] #200 closed

[2017-04-19 20:40] #185 closed

[2017-04-19 20:40] #168 closed

[2017-04-21 12:44] Nek- opened #230 "[RFC] CommandContext"
Testing commands with behat always is a pain. We should provide a command context to help people do it with ease 🐱  !

[2017-05-03 15:41] Brunty opened #231 "ArgumentCountError"
We're using these Contexts in a project with FOSUserBundle, in a recent upgrade from PHP5.6 to PHP7.1 some tests were failing:

[code]

After doing some debugging, it's an `ArgumentCountError` that's being triggered, and because on https://github.com/KnpLabs/FriendlyContexts/blob/master/src/Knp/FriendlyContexts/Record/Collection.php#L108 this line it's trying to catch `\Exception` - this isn't cau

[2017-05-06 09:10] Nek- commented on #231
Hello,

Thank you for the reporting. Could you please provide a reproducer?

[2017-05-06 11:25] Brunty commented on #231
@Nek- will do when I'm back in the office next week. I'll try and re-create with a public repo so you can see.

[2017-05-17 12:24] NiR- opened #232 "[RFC] Deprecate SmartStep"
Hello everyone,

I think it's time to deprecate smart steps and foresee their removal: I still see it used from time to time in company we train/coach. It leads to slow suites, thus slowing down feedback cycle; and totally violates FIRST principles.

![](http://1.bp.blogspot.com/_WMyCPCNYrhk/Sacf24JcWiI/AAAAAAAAAG0/52i89g_tTX8/s320/FIRST.jpg)

However what's possible with smart steps is also possi

[2017-05-31 16:47] pimolo commented on #226
I don't think that JSON would be the answer, since JSON can be supported (for instance by MySQL) as a format as it is. How would you distinct real JSON and PHP arrays? :confused:
What about:
[code]
?

[2017-05-31 16:52] NiR- commented on #143
@Nek- Besides auto-completion and other nice features from IDEs, the lack of docblocks is a pain in the ass when we've to use a method/property from one of the FriendlyContexts. Have you got some time to fix this issue? I can handle it, if you want.

[2017-06-13 07:03] Nek- commented on #143
@NiR- you can go. I'm currently focused on https://github.com/KnpLabs/FriendlyContexts/issues/208 (which is complicated when you need to not break everything x.x)

[2017-06-13 07:05] Nek- commented on #215
Why doing that? You should be aware of what you requested... o_O

[2017-06-13 07:13] Nek- commented on #226
@pimolo yes and it's pretty easy to go on. Do it if you want :).

[2017-06-21 14:55] pierredup opened #234 "Can't use @reset-schema along with @alice"
I'm trying to reset the database schema, then load a set of fixtures before a scenario, but it seems the `reset-schema` is always run after the fixtures, which cleans the database then.
E.G given the following feature:

[code]
When I run behat, I get in error in my scenario (since there is no data) and the database is then empty afterwards. I'm not sure if I'm just missing something

[2017-06-22 12:15] Awkan opened #235 "[API Context] base_url trim "/""
If I configure my `base_url` like `base_url: http://url/` and I use for example `$this->getMinkParameter('base_url') . '/login'` in my context it provide URL `http://url//login`.

We should avoid this error using trim in the `base_url`.
ATTENTION: This would cause a BCB in case of `$this->getMinkParameter('base_url') . 'login'` which will provide URL `http://urllogin` after fix

[2017-06-22 13:20] Nek- commented on #232
Related to https://github.com/KnpLabs/FriendlyContexts/issues/225

[2017-06-23 06:37] Nek- commented on #235
Seems like a very good notice. It should maybe trim in a new version indeed because the issue could indeed seem extremly weird if you omit on a side or the other the "/".

Let's plan this fix for 1.0 and admit that the good way to do is to specify the final "/" in any case (just like the documentation [recommends](https://github.com/KnpLabs/FriendlyContexts/blob/master/doc/context-api.md)). So ins

[2017-06-23 06:39] Nek- commented on #234
Hello,

Thank you for the report, can you give us more information about the issue? I personally use it on a project today and it works. 😶

[2017-06-23 08:02] Awkan commented on #235
Control is already done in `locatePath` method. We should generalize it when we get the parameter
https://github.com/KnpLabs/FriendlyContexts/blob/master/src/Knp/FriendlyContexts/Context/RawMinkContext.php#L51

[2017-06-29 09:39] pierredup commented on #234
@Nek- I actually ended up writing my own `reset-schema` implementation because I needed some additional logic and fixtures to be loaded, and trying to replicate this again might be a lot of effort. So I'm closing this as a non-issue then

[2017-06-29 09:39] #234 closed

[2017-07-06 10:14] lasotaartur opened #239 "SmartReader is slow for many features"
For many features method `extractScenarios` in class `SmartReader` is very slow.
This slow method is execute for every step if think.
https://github.com/KnpLabs/FriendlyContexts/blob/07e7c3044b6112d952d39a11ba6072cf76b3ba46/src/Knp/FriendlyContexts/Reader/SmartReader.php#L66

I checked it on features from Sylius https://github.com/Sylius/Sylius/tree/master/features

[2017-07-10 08:05] lasotaartur commented on #239
Can anyone help me?

[2017-07-10 08:32] NiR- commented on #239
Rule of thumb: stop using smart steps. Sorry, I don't have any advice to provide you. We've already discussed smart steps deprecation and it'll happen soon.

[2017-07-10 10:46] lasotaartur commented on #239
I do not use them. I use only api context.
How can I disable this smarts steps?

[2017-07-10 11:58] NiR- commented on #239
Ha sorry, I didn't understand that at first. I reopen it ;)

[2017-07-12 13:11] Nek- commented on #208
Some work started here: https://github.com/Nek-/FriendlyContexts/tree/feature/httplug

[2017-07-14 12:13] tsurowiec opened #240 "EntityContext issue with AfterScenario clearing..."
lets say I have two tests - to simplify identical, but issue happens always, when there is more then one test in a scenario, and the `should have been (created|deleted)` step is used :

[code]
when those scenarios are run separately they are ok - both green, but when the whole feature is run, the second scenario's `And 1 user should have been created` step fails with `2 acctually` as if between sc

[2017-07-18 11:43] einenlum commented on #240
Hi @tsurowiec. Thanks for your issue.
I never encountered this problem and I don't remember any issue referencing it. I will try to find time to check what's happening in the next days.

[2017-07-18 12:24] tsurowiec commented on #240
thanks@Einenlum, I'll try to replicate it on an minimal Symfony project, and if it still occurs I'll link the repo here...

[2017-07-19 11:23] tsurowiec commented on #240
@Einenlum the issue can be closed - I wasn't able to replicate it on fresh install of symfony - means that is nothing wrong with EntityContext, but sth is f%#$ up in the project I've got.

[2017-07-19 12:00] einenlum commented on #240
Ok, thanks for your feedback @tsurowiec. Glad to hear that :)

[2017-07-19 12:00] #240 closed

[2017-08-01 22:16] yakobe commented on #232
Agreed. The cons outweigh the pros.

[2017-08-07 11:39] Nek- opened #241 "[RFC] Translate stories"
This issue is here to follow the main idea of behat: the gherkin should represent your business. So you should write it in your language.

Let's translate FriendlyContexts to your language!

[2017-08-07 12:53] Nek- opened #242 "[RFC] EntityContext: support for constructor"
FriendlyContext should evaluate the constructor of objects before instanciate them so it can inject parameters throw the constructor.

[2017-09-18 06:57] einenlum commented on #90
@PedroTroller Can we have a more detailed description of this feature?

[2017-09-18 07:19] #198 closed

[2017-09-18 07:53] #215 closed

[2017-10-26 10:52] alcalyn commented on #219
no activity.

[2017-10-26 10:52] #219 closed

[2017-11-08 15:51] soullivaneuh opened #246 "Use PHP HTTP instead of native Guzzle"
[PHP HTTP](https://php-http.org) allows to handle multiple HTTP framework using PSR-7 compliant generic message building.

This avoid dependencies issues for people using your project and another version of Guzzle on their projects.

See https://github.com/facebook/php-graph-sdk/pull/641 subject for more details.

[2017-12-12 07:26] ghost commented on #246
Also package guzzle/guzzle in this project is already abandoned.

[2018-01-11 14:48] ghost commented on #239
Any progress with it?

[2018-01-11 14:53] lpoczatek commented on #225
https://github.com/KnpLabs/FriendlyContexts/issues/239

[2018-04-18 15:49] yakobe opened #250 "Symfony 4 Compatibility"
Unfortunately this package is currently not compatible with Symfony 4.

The first issue that seems to appear is in the service definitions when running behat:

[2018-04-18 16:12] Nek- commented on #250
There is many issues with Symfony 4 compatibility. This package is also not maintained ATM. For now you can refer to this: https://github.com/KnpLabs/FriendlyContexts/pull/247#issuecomment-381359797

[2018-04-18 17:46] yakobe commented on #250
Ah... ok.
When you say:

Do you mean that the owners are not actively developing? Or does it also mean that submitted pull requests will not be reviewed and integrated (or will take a long time)?
If the repo is dead, perhaps it can be put up for adoption or retired officially? Otherwise it will block lots of people who use it from moving forward/updating while leading them into the idea that it mi

[2018-04-20 10:04] Nek- commented on #250
Owners are not. I am the official maintainer of this library. (Many things impact the decision of not maintain this lib, including **lack of time**, not using this library on any of my projects and _not good_ reaction of the team while forking another project on my company organization (for maintenance reasons))

Yes.

I understand very well that. Also, I have some very interesting work staged for

[2018-04-24 12:59] yakobe commented on #250
Sorry for the delay...

[2018-04-24 13:21] yakobe commented on #250
Sorry for the delay...
I understand the "lack of time" bit... it's always difficult to find time for open source. People just expect it to "be there and work".

From my side, I have use for this project and would love to see it maintained and improved.

I agree about your 2 problems above. Perhaps it is time to knock out version 1.0, give it a support branch and make master 2.0-dev. There will def

[2018-04-24 22:35] thomaszbz opened #251 "EntityContext not inserts null values"
By looking at the EntityContext, I assume that blanks stemming from TableNodes _sometimes_ are converted to null. In other cases, blanks are not converted to null:

[code]

Proof: When phone has a unique-constraint applied, this test failes with a

Basically that means that empty cells resulted in trying to insert empty strings. This is not a bug in itself (as users also should be able to insert e

[2018-05-29 22:59] pimolo opened #253 "What's next with FriendlyContexts?"
# Roadmap 🗒

## Refactor the documentation
At the moment, the documentation is suffering from lack of details, consistency and formatting.
That’s going to be fixed for the next release.
It will be kept on Github, which is readable enough with a proper usage of markdown.

## Remove Smart Steps
Smart steps are quite useful when you have many tests with a common part (most of the time it’s for authen

[2018-06-01 19:23] nbat opened #254 "Check if callee exists before creating it"
Hi, I'm running into a problem when behat tests are executed in parallel.

Step "/^I login to my account$/" is already defined in vendor/knplabs/friendly-contexts/src/Knp/FriendlyContexts/Reader/SmartReader.php:46

Do you think it would be possible to make this thing check if the callee exists before creating a new one?

[code]

Thanks

[2018-06-20 12:34] vitoo opened #255 "Testing symfony API always return 403"
Hello,

Every request done by behat got a 403 response, in the example bellow, the url works on a web browser :

GET http://localhost:8000/web/app_test.php/api/search/users?fullName=Baratheon

Do you have any clue ? Thanks you !

behat.yml
[code]

user.feature
[code]

Result :

      Expecting response code to be "200" but "403" given (Exception)

[2018-06-20 13:17] vitoo commented on #255
I'm sorry for this issue, it was a proxy problem

[2018-06-20 13:17] #255 closed, assigned to nobody

[2018-07-20 11:26] Awkan commented on #235
See https://github.com/KnpLabs/FriendlyContexts/pull/236, This issue is not justifiable

[2018-08-31 21:43] yakobe commented on #250
Hey @Nek-, did anything come out of the experiments discussed?

[2018-09-09 15:27] pimolo commented on #250
@yakobe
A `feature/1.x` branch has been created in order to prepare the next big release, with a lot of BC breaks, so the `master` branch remains safe.
I think it's important because most of users use this branch currently (it is recommended in the doc unfortunately).

About compatibility with Symfony4:
I forgot about it when I wrote the roadmap, but it's the next big thing planned.
However, our d

[2019-04-13 23:08] yakobe commented on #250
Hi @Nek- and @pimolo. Is there likely to be any progress on this? Is there something that people can help with or should we consider alternative solutions?

[2019-09-30 19:57] phpcdev commented on #250
@Nek-

I am currently upgrading my project to SF4 and all my behat steps created the last 3-4 years are strongly based of freindly-contexts. Is there a substitute or a way for me to not re-write hundreds of behat tests, still keep all the tests working and most importantly upgrade to sf4?

I understand this is not maintained anymore, but I can't be the only one with this dilema of droping all thes

[2019-12-10 16:35] gabrielmustiere commented on #250
News of the migration of the project to Sf4+ ? Ty

[2019-12-10 16:51] yakobe commented on #250
I have the suspicion this project is abandoned. Perhaps one of the maintainers should mark it so that people are aware?

[2019-12-11 10:30] gabrielmustiere commented on #250
@Nek- can you give us some details about this topic ?

[2019-12-11 16:40] Nek- commented on #250
Sorry, I think this library can be considered as totally unmaintained. I'd like to focus the (little bit of) time I have on improving/fixing Behat itself the following weeks/months. :/

[2019-12-11 17:18] yakobe commented on #250
Maybe it’s time to mark it so on packagist and on the readme? That will give people a heads up so they don’t get stuck like we are.

Also, perhaps someone can then create an maintained fork without fear of code divergence.

[2019-12-13 18:40] alexislefebvre commented on #250
Maybe @FriendsOfBehat would be interested in adopting FriendlyContexts?

[2019-12-14 11:13] Nek- commented on #250
If they are interested about (I don't think so) we can have a chat about it on symfony-devs slack.

[2021-01-24 13:06] #254 closed, assigned to nobody

[2022-05-07 07:11] #171 closed

[2022-05-07 07:13] #250 closed, assigned to nobody

[2022-05-07 07:14] #225 closed